
@model LoginRequest

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<form class="login-form wmin-sm-400" action="index.html">
	<div class="card mb-0">
		<ul class="nav nav-tabs nav-justified alpha-grey mb-0">
			<li class="nav-item"><a href="#login-tab1" class="nav-link border-y-0 border-left-0 active" data-toggle="tab"><h6 class="my-1">ورود</h6></a></li>
			<li class="nav-item"><a href="#login-tab2" class="nav-link border-y-0 border-right-0" data-toggle="tab"><h6 class="my-1">ثبت نام</h6></a></li>
		</ul>

		<div class="tab-content card-body">
			<div class="tab-pane fade show active" id="login-tab1">
				<div class="text-center mb-3">
					<i class="icon-lock icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
					<h5 class="mb-0">ورود به حساب کاربری</h5>
				</div>

				<div class="form-group form-group-feedback form-group-feedback-left">
					<input type="text" asp-for=Username class="form-control" placeholder="نام کاربری">
					<div class="form-control-feedback">
						<i class="icon-user text-muted"></i>
					</div>
				</div>

				<div class="form-group form-group-feedback form-group-feedback-left">
					<input type="password" asp-for=Password class="form-control" placeholder="کلمه عبور">
					<div class="form-control-feedback">
						<i class="icon-lock2 text-muted"></i>
					</div>
				</div>

				<div class="form-group d-flex align-items-center">
					<div class="form-check mb-0">
						<label class="form-check-label">
							<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
							مرا به خاطر بسپار
						</label>
					</div>

					<a href="login_password_recover.html" class="ml-auto">کلمه ی عبور را فراموش کرده ام</a>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">ورود</button>
				</div>

				

				<div class="form-group text-center text-muted content-divider">
					<span class="px-2">هنوز حساب کاربری ندارید؟</span>
				</div>

				<div class="form-group">
					<a href="#" class="btn btn-light btn-block">ثبت نام</a>
				</div>

				<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
			</div>

			<div class="tab-pane fade" id="login-tab2">
				<div class="text-center mb-3">
					<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
					<h5 class="mb-0">Create account</h5>
					<span class="d-block text-muted">All fields are required</span>
				</div>

				<div class="form-group form-group-feedback form-group-feedback-left">
					<input type="text" class="form-control" placeholder="Your username">
					<div class="form-control-feedback">
						<i class="icon-user-check text-muted"></i>
					</div>
				</div>

				<div class="form-group form-group-feedback form-group-feedback-left">
					<input type="password" class="form-control" placeholder="Your password">
					<div class="form-control-feedback">
						<i class="icon-user-lock text-muted"></i>
					</div>
				</div>

				<div class="form-group form-group-feedback form-group-feedback-left">
					<input type="password" class="form-control" placeholder="Your email">
					<div class="form-control-feedback">
						<i class="icon-mention text-muted"></i>
					</div>
				</div>

				<div class="form-group text-center text-muted content-divider">
					<span class="px-2">Additions</span>
				</div>

				<div class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
							Send me <a href="#">test account settings</a>
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
							Subscribe to monthly newsletter
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="remember" class="form-input-styled" data-fouc>
							Accept <a href="#">terms of service</a>
						</label>
					</div>
				</div>

				<button type="submit" class="btn bg-dark btn-block">Register</button>
			</div>
		</div>
	</div>
</form>