@model IEnumerable<App.Models.Category.GetCategoriesResponse>


@{
	ViewData["Title"] = "دسته بندی";
}




<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-right6 mr-2"></i> <span class="font-weight-semibold">دسته بندی</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		@* <div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div> *@
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a asp-action="Index" asp-controller="Home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> صفحه اصلی</a>
			
				<span class="breadcrumb-item active">دسته بندی</span>
			</div>

			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		@* <div class="header-elements d-none">
			<div class="breadcrumb justify-content-center">
				<a href="#" class="breadcrumb-elements-item">
					<i class="icon-comment-discussion mr-2"></i>
					Support
				</a>

				<div class="breadcrumb-elements-item dropdown p-0">
					<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear mr-2"></i>
						Settings
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
						<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
						<a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
					</div>
				</div>
			</div>
		</div> *@
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

	<!-- Square thumbs -->
	@* <div class="mb-3">
		<h6 class="mb-0 font-weight-semibold">
			Square thumbs
		</h6>
		<span class="text-muted d-block">Basic style using <code>card</code> component</span>
	</div> *@

	

	
	<!-- /square thumbs -->
	<!-- Rounded thumbs -->
	<div class="mb-3 pt-2">
		<h6 class="mb-0 font-weight-semibold">
			Rounded thumbs
		</h6>
		<span class="text-muted d-block">Responsive rounded thumbs</span>
	</div>

	<div class="row">

		@foreach(var item in Model)
		{
			<div class="col-xl-3 col-sm-6">
				<div class="card">
					<div class="card-body text-center">
						<div class="card-img-actions d-inline-block mb-3">
							<img class="img-fluid rounded-circle" src="/global_assets/images/placeholders/placeholder.jpg" width="170" height="170" alt="">
							<div class="card-img-actions-overlay card-img rounded-circle">
								<a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
									<i class="icon-plus3"></i>
								</a>
								<a href="user_pages_profile.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
									<i class="icon-link"></i>
								</a>
							</div>
						</div>

						<h6 class="font-weight-semibold mb-0">@item.Title</h6>
						<span class="d-block text-muted">Lead developer</span>

						<div class="list-icons list-icons-extended mt-3">
							<a href="#" class="list-icons-item" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a>
							<a href="#" class="list-icons-item" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
							<a href="#" class="list-icons-item" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a>
						</div>
					</div>
				</div>
			</div>
		}

		

		
	</div>



</div>