<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="~/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="~/bundle/css/global.min.css" rel="stylesheet" type="text/css">
	
	<!-- /global stylesheets -->
	<!-- Core JS files -->
	<script src="~/bundle/js/core.min.js"></script>
	
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script src="~/assets/js/app.js"></script>
	<script src="~/global_assets/js/demo_pages/login.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Page content -->
	<div class="page-content login-cover">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Login form -->
				@RenderBody()
				<!-- /login form -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
