<div class="card card-sidebar-mobile">
	<ul class="nav nav-sidebar" data-nav-type="accordion">

		<!-- Main -->
		<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
		<li class="nav-item">
			<a href="index.html" class="nav-link">
				<i class="icon-home4"></i>
				<span>
					Dashboard
					<span class="d-block font-weight-normal opacity-50">No active orders</span>
				</span>
			</a>
		</li>
		<li class="nav-item nav-item-submenu">
			<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Layouts</span></a>

			<ul class="nav nav-group-sub" data-submenu-title="Layouts">
				<li class="nav-item"><a href="index.html" class="nav-link active">Default layout</a></li>
				<li class="nav-item"><a href="../../../../layout_2/RTL/default/full/index.html" class="nav-link">Layout 2</a></li>
				<li class="nav-item"><a href="../../../../layout_3/RTL/default/full/index.html" class="nav-link">Layout 3</a></li>
				<li class="nav-item"><a href="../../../../layout_4/RTL/default/full/index.html" class="nav-link">Layout 4</a></li>
				<li class="nav-item"><a href="../../../../layout_5/RTL/default/full/index.html" class="nav-link">Layout 5</a></li>
				<li class="nav-item"><a href="../../../../layout_6/RTL/default/full/index.html" class="nav-link disabled">Layout 6 <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
			</ul>
		</li>
		<li class="nav-item nav-item-submenu">
			<a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Themes</span></a>

			<ul class="nav nav-group-sub" data-submenu-title="Themes">
				<li class="nav-item"><a href="index.html" class="nav-link active">Default</a></li>
				<li class="nav-item"><a href="../../../RTL/material/full/index.html" class="nav-link">Material</a></li>
				<li class="nav-item"><a href="../../../RTL/dark/full/index.html" class="nav-link disabled">Dark <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
				<li class="nav-item"><a href="../../../RTL/clean/full/index.html" class="nav-link disabled">Clean <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
			</ul>
		</li>
		

	</ul>
</div>